@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1>Service Records</h1>
    
    <table class="table">
        <thead>

            <tr>
                <th>Id</th>
                <th>Service Name</th>
                <th>Timestamp</th>
                <th>Level</th>
                <th>Protocol</th>
                <th>ElapsedTime</th>
                <th>ActionName</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model.Services)
            {
                <tr>
                    <td>@service.Id</td>
                    <td>@service.ServiceName</td>
                    <td>@service.Timestamp</td>
                    <td>@service.Level</td>
                    <td>@service.Protocol</td>
                    <td>@service.ElapsedTime</td>
                    <td>@service.ActionName</td>
                    <td>@service.Message</td>





                </tr>
            }
        </tbody>
    </table>
</div>
